@import "tailwindcss";



@theme {
  --font-main: var(--font-inter), sans-serif;
  --font-display: var(--font-syne), sans-serif;
  --font-rounded: var(--font-quicksand), sans-serif;
}

body {
  color: #ededed;
  font-family: var(--font-rounded);
}